<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planner</title>
  </head>
  <body>
    <header>
      <h1>Travel Planner</h1>
    </header>

    <main>
      <section>
        <input type="text" id="location" placeholder="Enter destination" />
        <input id="departure-date" type="date" />
        <button id="add-trip">Save Trip</button>
      </section>

      <section id="trip-details"></section>
    </main>

    <script src="bundle.js"></script>
  </body>
</html>
